@font-face {
  font-family:'sans';
  src:url('../fonts/IRANSans/IRANSansWeb_Light.woff') format('woff'),
  url('../fonts/IRANSans/IRANSansWeb_Light.eot') format('eot'),
  url('../fonts/IRANSans/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/IRANSans/IRANSansWeb_Light.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
  font-variant:normal;
}
@font-face {
  font-family:'sansMedium';
  src:url('../fonts/IRANSansMedium/IRANSansWeb_Medium.woff') format('woff'),
  url('../fonts/IRANSansMedium/IRANSansWeb_Medium.eot') format('eot'),
  url('../fonts/IRANSansMedium/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/IRANSansMedium/IRANSansWeb_Medium.ttf') format('truetype');
  font-weight:bold;
}
@font-face {
  font-family:'sansBold';
  src:url('../fonts/IRANSansBold/IRANSansWeb_Bold.woff') format('woff'),
  url('../fonts/IRANSansBold/IRANSansWeb_Bold.eot') format('eot'),
  url('../fonts/IRANSansBold/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/IRANSansBold/IRANSansWeb_Bold.ttf') format('truetype');
  font-weight:bold;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'sans' !important;
  font-size: 14px;
  direction: rtl;
}
ul{
  list-style: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
a{
  text-decoration: none;
}
#root{
  height: 100%;
}
.menu-item {
  padding: 0 40px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: none;
}
.menu-item-wrapper.active {
  border: 1px blue solid;
}
.menu-item.active {
  border: 1px green solid;
}

.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}