$color-white            : #fff;
$color-Purple           : #ee2f5a;
$color-black            : #282828;
$color-clean            : #A7D2CB;
$color-butter           : #F2D388;
$color-salmon           : #C98474;
$color-eggplant         : #874C62;

// bg colors
.bg-love-kiss {
  background-image: -webkit-gradient(linear,left bottom,left top,from(#ff0844),to(#ffb199)) !important;
  background-image: linear-gradient(0deg,#ff0844 0,#ffb199) !important;
}
.bg-happy-fisher {
  background-image: linear-gradient(120deg,#89f7fe,#66a6ff) !important;
}
.bg-plum-plate {
  background-image: linear-gradient(135deg,#667eea,#764ba2) !important;
}