$color-white            : #fff;
$color-Purple           : #ee2f5a;
$color-black            : #282828;
$color-clean            : #A7D2CB;
$color-butter           : #F2D388;
$color-salmon           : #C98474;
$color-eggplant         : #874C62;
