$color-white            : #fff;
$color-white-eee        : #eeeeee;
$color-Purple           : #ee2f5a;
$color-black            : #282828;
$color-orange           : #f7941d;
$color-green            : #90c23a;
$color-text             : #b8b8b8;
$color-gray             : #ccc;
$color-footer           : #242626;
$color-background-form  : #eff4f8;
$color-red              : #ee2f5a;
$color-purple-hover   : #bba7b7;