@font-face {
  font-family:'sans';
  src:url('../fonts/IRANSans/IRANSansWeb_Light.woff') format('woff'),
  url('../fonts/IRANSans/IRANSansWeb_Light.eot') format('eot'),
  url('../fonts/IRANSans/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/IRANSans/IRANSansWeb_Light.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
  font-variant:normal;
}
@font-face {
  font-family:'sansMedium';
  src:url('../fonts/IRANSansMedium/IRANSansWeb_Medium.woff') format('woff'),
  url('../fonts/IRANSansMedium/IRANSansWeb_Medium.eot') format('eot'),
  url('../fonts/IRANSansMedium/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/IRANSansMedium/IRANSansWeb_Medium.ttf') format('truetype');
  font-weight:bold;
}
@font-face {
  font-family:'sansBold';
  src:url('../fonts/IRANSansBold/IRANSansWeb_Bold.woff') format('woff'),
  url('../fonts/IRANSansBold/IRANSansWeb_Bold.eot') format('eot'),
  url('../fonts/IRANSansBold/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/IRANSansBold/IRANSansWeb_Bold.ttf') format('truetype');
  font-weight:bold;
}
@font-face {
  font-family: B_Yekan;
  src:url('../fonts/B_Yekan/Yekan.ttf') format('truetype');
  font-weight: normal;
}
body {
  margin: 0;
  padding: 0;
  font-size: 14px !important;
  font-family:sans !important;
  direction: rtl;
  background-color: #eeeff8 !important;
}
ul{
  list-style: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
a{
  color: #111 !important;
  text-decoration: none !important;
}

#root{
  height: 100%;
}


// fonts

.font-weight-bold {
  font-weight: 700 !important;
}
.font-size-xl {
  font-size: 1.425rem;
}
.font-base{
  font-size: .9rem;
}
.font-large{
  font-size: 1.8rem;
}
.font-bold-icon{
  font-size: 1.35rem;
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
// margin

.mr-auto{
  margin-right: auto;
}

// width
.max-width-70{
  max-width: 70%;
}
legend{
  float: unset !important;
}
hr{
  opacity: unset !important;
}
.makeStyles-root-1 {
  .MuiTextField-root{
    margin-right: 0 !important;
  }
}