.menu-desktop{
  background-color: $color-white;
  box-shadow: 2px 2px 5px 5px rgba(0,0,0,.2);
  width: 100%;
  padding: 10px 15px;
  .main-menu{
    display: flex;
    margin-bottom: 0;
    padding-right: 20px;
    align-items: center;
    position: relative;
    li{
        a{
          font-size: .8rem;
          display: flex;
          align-items: center;
          height: 100%;
          padding: 5px 10px;
        }
    }
    ul{
      position: absolute;
      width: 100%;
      display: flex;
      padding-right: 20px;
      right: 0;
      top: 100%;
      overflow-x: auto;
      li{
        a{
          font-size: .8rem;
          display: flex;
          align-items: center;
          height: 100%;
          padding: 5px 10px;
        }

      }
    }
    .close-submenu{
      display: none;
    }
    .open-submenu{
      display: flex;
    }
  }
}